.status {
  display: flex;
  align-items: center;
  gap: 4px;
}

.statusIcon {
  animation: blink 3s linear 0s infinite;
}

.up {
  color: green;
}

.warning {
  color: yellow;
}

.error {
  color: red;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}
